<server description="Sample Liberty server">

  <featureManager>
      <feature>microprofile-1.2</feature>
      <feature>jndi-1.0</feature>
      <feature>jsp-2.3</feature>
      <feature>servlet-3.1</feature>
      <feature>ssl-1.0</feature>
      <feature>mpJwt-1.0</feature>
      <feature>jsonp-1.0</feature>
  </featureManager>

  <sslDefault sslRef="DefaultSSLSettings"/>
  <ssl id="DefaultSSLSettings"
    keyStoreRef="defaultKeyStore" 
    trustStoreRef="defaultTrustStore"/>
  
  <httpEndpoint id="defaultHttpEndpoint" 
    host="*"
    httpPort="${default.http.port}"
    httpsPort="${default.https.port}" />
      
    <!-- The MP JWT configuration that injects the caller's JWT into a ResourceScoped bean for inspection. -->
  <mpJwt id="jwtUserConsumer" 
    keyName="default" 
    audiences="scoreboard" 
    issuer="${jwt.issuer}"/>
  
  <keyStore id="defaultKeyStore" 
    location="key.jks"  
    password="secret"/>

  <keyStore id="defaultTrustStore" 
    location="truststore.jks" 
    password="truststore"/>
    
  <!-- Signed JWT keystore info -->
    <jndiEntry jndiName="jwtKeyStore" value="${server.config.dir}/resources/security/key.jks"/>
    <jndiEntry jndiName="jwtKeyStorePassword" value="secret"/>
    <jndiEntry jndiName="jwtKeyStoreAlias" value="default"/>

  <!-- Automatically expand WAR files and EAR files -->
  <applicationManager autoExpand="true"/>

  <webApplication 
    name="login" 
    contextRoot="/" 
    location="${app.location}"/>

</server>
